<nav class="navbar navbar-expand-lg py-0">
  <div class="container py-8">
    <a class="navbar-brand" href="#"><h1 class="fs-lg-5 fs-1">Vivre</h1></a>
    <button
      class="navbar-toggler border-0 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <span class="navbar-toggler-icon icon-24"></span>
    </button>

    <div
      class="offcanvas offcanvas-end w-100"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <form class="d-flex search-form mb-lg-0 mb-6" role="search">
          <div
            class="input-group flex-nowrap border border-1 rounded-pill overflow-hidden"
          >
            <input
              type="search"
              class="form-control bg-white border-0 search"
              placeholder="搜尋文章"
              aria-label="Search"
              aria-describedby="addon-wrapping"
            />
            <span
              class="input-group-text bg-white search-icon border-0"
              id="addon-wrapping"
              ><i class="bi bi-search text-accent-200"></i
            ></span>
          </div>
        </form>
        <ul
          class="navbar-nav ms-md-auto mb-9 mb-lg-0 align-items-lg-center align-items-start"
        >
          <li class="nav-item">
            <a
              class="nav-link accent-200-hover py-2 px-5 me-lg-5 mb-lg-0 mb-6"
              href="articles-member.html"
              >所有文章</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link accent-200-hover py-2 px-5 me-lg-5 mb-lg-0 mb-6"
              href="subscription-package.html"
              >訂閱方案</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link accent-200-hover py-2 px-5 me-lg-5 mb-lg-0"
              href="about.html"
              >關於我們</a
            >
          </li>
        </ul>
        <a href="login.html" class="d-block"
          ><button class="btn btn-accent-200 text-white w-100 slide-up-hover">
            <h6 class="line-height-sm">登入 / 註冊</h6>
          </button></a
        >
      </div>
    </div>
  </div>
</nav>

<div class="container navbar-divider">
  <hr />
</div>
