.accent-200-hover {
  transition: color 0.3s;
  &:hover {
    color: $accent-200;
    transition: color 0.3s;
  }
}

.slide-up-hover {
  transition: color 0.3s;
  &:hover {
    transform: translate(0, -5px);
    transition: color 0.3s;
  }
}
