.highlight {
  list-style-type: "|";
  li {
    padding-left: 12px;
  }
}

.tick-list {
  list-style-image: url("/assets/images/tick.svg");
  li {
    padding-left: 12px;
  }
}

.filled-tick-list {
  list-style-image: url("/assets/images/filled-tick-grey.svg");
  li {
    padding-left: 12px;
  }
}
