.search {
  color: $neutral-300;
  font-weight: 600;
  &:focus,
  &:active {
    box-shadow: none;
    color: $neutral-600;
  }
}

.navbar-toggler {
  &:focus {
    border: 0;
  }
}

.navbar-divider hr {
  margin: 0px;
}
